<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="Smarthr - Bootstrap Admin Template">
        <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>@ViewBag.Title - Cost Allocation Management System</title>

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">

        @Styles.Render("~/Content/css")
        @RenderSection("Styles", false);        
    </head>    
    <body>        
        <!-- Main Wrapper -->
        <div id="container">            
            @Html.Partial("_Header")
            @Html.Partial("_Sidebar")            
            <!-- Page Wrapper -->
            <main id="main-area">
                <section id="area-1">
                    @RenderBody()
                </section>
            </main>
            <!-- /Page Wrapper -->            
        </div>
        <!-- /Main Wrapper -->

        <!-- jQuery -->
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/others")
        @Scripts.Render("~/bundles/custom")

        <!-- session based timer auto logout -->
        <script type="text/javascript">
            var idleTime = 0;
            var idleInterval;            
        </script>
        @RenderSection("Scripts", false/*required*/)
        @{
            string fullPath = HttpContext.Current.Request.Url.AbsolutePath;
            string url = System.IO.Path.GetFileName(fullPath);
            if (url.ToLower().Contains("login") || string.IsNullOrEmpty(url) || url.ToLower().Contains("userregistration"))
            {
                <input type="hidden" id="sing_out" value="login">

            }
            else
            {
                <input type="hidden" id="sing_out" value="logout">
            }
            
        }                
        <script type="text/javascript">           
            /***************************\
            Log out from all device
            \***************************/
            function RemoveSession() {
                var user_name = $('#hidden_username').val();
                if (user_name != null || user_name != undefined || user_name != '') {
                    $.ajax({
                        url: `/Registration/RemoveSession?userName=${user_name}`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        //dataType: 'json',
                        success: function (data) {
                            $('#hidden_username').val('');
                            var chat = $.connection.chatHub;
                            // Start the connection.
                            $.connection.hub.start().done(function () {
                                chat.server.send(user_name, ' ログアウト');
                            });
                            location.href = '/';
                        }
                    });
                }
            }


            /***************************\
            browser closed log out
            \***************************/
            function BrowserLogOut() {
                var user_name = $('#hidden_username').val();
                if (user_name != null || user_name != undefined || user_name != '') {
                    $.ajax({
                        url: `/Registration/RemoveSession?userName=${user_name}`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: true,
                        success: function (data) {
                            location.href = '/';
                        }
                    });
                }
            }
            
            var inFormOrLink;
            $('form').bind('submit', function () { inFormOrLink = true; });
            $('a').on('click', function () { inFormOrLink = true; });
            $('button').on('submit', function () { inFormOrLink = true; });
            $('a').on('click', function () { inFormOrLink = true; });

        </script>
    </body>
</html>