<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>@ViewBag.Title - Cost Allocation Management System</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">

    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false);

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
@* <body onbeforeunload="ConfirmClose()" onunload="HandleOnClose()"> *@
@* <body onbeforeunload="ConfirmClose()" onunload="HandleOnClose()"> *@
@* <body onbeforeunload="BClose()" onclick="clicked=true;">*@
    <!-- Main Wrapper -->
    <div id="container">
        @* <div class="main-wrapper"> *@
            <!-- Header -->
            @Html.Partial("_Header")
            <!-- /Header -->

            <!-- Sidebar -->
            @Html.Partial("_Sidebar")
            <!-- /Sidebar -->
            <!-- Page Wrapper -->
            <main id="main-area">   
                <section id="area-1">
                    @RenderBody()        
                </section>                    
            </main>
            <!-- /Page Wrapper -->
        @* </div> *@
    </div>
    @* <footer id="footer">
		<small>&copy; copyright.</small>	
	</footer> *@
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/others")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("Scripts", false/*required*/)
    @{
        string fullPath = HttpContext.Current.Request.Url.AbsolutePath;
        string url = System.IO.Path.GetFileName(fullPath);
        if (url.ToLower().Contains("login") || string.IsNullOrEmpty(url) ||  url.ToLower().Contains("userregistration"))
        {            
            <input type="hidden" id="sing_out" value="login">

        }else{
            <input type="hidden" id="sing_out" value="logout">
        }  
        <input type="hidden" id="IsLinkFormBtnReload" value="false">
              
    }
    <script type="text/javascript"> 
        function SetLogOutRule(){
            $("#IsLinkFormBtnReload").val(true);
        }
        /***************************\                           
        Log out from all device                 
        \***************************/
        function RemoveSession() {
            var user_name = $('#hidden_username').val();                
            if (user_name != null || user_name != undefined || user_name!='') {
                $.ajax({
                    url: `/Registration/RemoveSession?userName=${user_name}`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    //dataType: 'json',
                    success: function (data) {
                        $('#hidden_username').val('');
                        var chat = $.connection.chatHub;
                        // Start the connection.
                        $.connection.hub.start().done(function () {
                            chat.server.send(user_name, ' Logged Out');
                        });
                        location.href = '/';
                    }
                });
            }
        }


        /***************************\                           
        browser closed log out               
        \***************************/
        function BrowserLogOut() {
            var user_name = $('#hidden_username').val();
            if (user_name != null || user_name != undefined || user_name != '') {
                $.ajax({
                    url: `/Registration/RemoveSession?userName=${user_name}`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: true,
                    success: function (data) {
                        location.href = '/';
                    }
                });
            }
        }
        var inFormOrLink;
        $('form').bind('submit', function () { inFormOrLink = true; });
        $('a').on('click', function () { inFormOrLink = true; });
        $('button').on('submit', function () { inFormOrLink = true; });
        $('a').on('click', function () { inFormOrLink = true; });

        @* //check for Navigation Timing API support
        if (window.performance) {
            //console.info("window.performance works fine on this browser");
        }
        console.info(performance.navigation.type);
        if (performance.navigation.type == performance.navigation.TYPE_RELOAD) {
            //console.info("This page is reloaded");
            inFormOrLink = true;
        }

        var logOutType = $("#sing_out").val();
        if (logOutType == "logout") {        
            $(window).bind('beforeunload', function (eventObject) {            
                //console.log("bind");
                if (inFormOrLink != true) {
                    //BrowserLogOut();
                }
            })
        } *@

        @* window.onbeforeunload = function (event) {
            var message = 'Please click on Save button to leave this page';
            if (typeof event == 'undefined') {
                event = window.event;
            }
            if (event) {
                event.returnValue = message;
            }
            return message;
        }; *@
        
    </script>
</body>
</html>