<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Smarthr - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>@ViewBag.Title - Cost Allocation Management System</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/favicon.png">

    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false);

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.min.js"></script>
        <script src="assets/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    @* <body onbeforeunload="ConfirmClose()" onunload="HandleOnClose()"> *@
    @* <body onbeforeunload="ConfirmClose()" onunload="HandleOnClose()"> *@
    @* <body onbeforeunload="BClose()" onclick="clicked=true;">*@
    <!-- Main Wrapper -->
    <div id="container">
        @* <div class="main-wrapper"> *@
        <!-- Header -->
        @Html.Partial("_Header")
        <!-- /Header -->
        <!-- Sidebar -->
        @Html.Partial("_Sidebar")
        <!-- /Sidebar -->
        <!-- Page Wrapper -->
        <main id="main-area">
            <section id="area-1">
                @RenderBody()
            </section>
        </main>
        <!-- /Page Wrapper -->
        @* </div> *@
    </div>
    @* <footer id="footer">
            <small>&copy; copyright.</small>
        </footer> *@
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/others")
    @Scripts.Render("~/bundles/custom")

    <!-- session based timer auto logout -->
    <script type="text/javascript">
        var idleTime = 0;
        var idleInterval;

        document.addEventListener("visibilitychange", function () {
            if (document.hidden) {
                console.log("Browser tab is hidden")
            } else {
                console.log("Browser tab is visible")
                idleTime = 0;
                $.ajax({
                    url: `/Registration/SetLastPath?lastPath=${window.location.pathname}`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    //dataType: 'json',
                    success: function (data) {
                        $.ajax({
                            url: `/Registration/GetLastPath`,
                            contentType: 'application/json',
                            type: 'GET',
                            async: false,
                            //dataType: 'json',
                            success: function (data1) {

                                console.log(data1);
                            }
                        });
                    }
                });
            }
        });

        $(document).ready(function () {
            {
                // Increment the idle time counter every minute.
                idleInterval = setInterval(timerIncrement, 60000); // 1 minutes
                // Zero the idle timer on mouse movement.
                $(this).mousemove(function (e) {
                    idleTime = 0;
                });
                $(this).keypress(function (e) {
                    idleTime = 0;
                });
            }
        });

        function timerIncrement() {
            idleTime = idleTime + 1;
            let last_path = '';
            if (window.location.pathname.toString() !== '/') {
                if (idleTime > 120) { // 1 minutes                    
                    $.ajax({
                        url: `/Registration/GetLastPath`,
                        contentType: 'application/json',
                        type: 'GET',
                        async: false,
                        //dataType: 'json',
                        success: function (data) {
                            last_path = data;
                            console.log(data);
                        }
                    });
                    if ((last_path == window.location.pathname)) {
                        RemoveSession();
                        clearInterval(idleInterval);
                    }
                    else {
                        idleTime = 0;
                    }

                }
            }

        }
    </script>
    @RenderSection("Scripts", false/*required*/)
    @{
        string fullPath = HttpContext.Current.Request.Url.AbsolutePath;
        string url = System.IO.Path.GetFileName(fullPath);
        if (url.ToLower().Contains("login") || string.IsNullOrEmpty(url) || url.ToLower().Contains("userregistration"))
        {
            <input type="hidden" id="sing_out" value="login">

        }
        else
        {
            <input type="hidden" id="sing_out" value="logout">
        }
        <input type="hidden" id="IsLinkFormBtnReload" value="false">

    }
    <script type="text/javascript">

        function SetLogOutRule() {
            $("#IsLinkFormBtnReload").val(true);
        }
        /***************************\
        Log out from all device
        \***************************/
        function RemoveSession() {
            var user_name = $('#hidden_username').val();
            if (user_name != null || user_name != undefined || user_name != '') {
                $.ajax({
                    url: `/Registration/RemoveSession?userName=${user_name}`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: false,
                    //dataType: 'json',
                    success: function (data) {
                        $('#hidden_username').val('');
                        var chat = $.connection.chatHub;
                        // Start the connection.
                        $.connection.hub.start().done(function () {
                            chat.server.send(user_name, ' Logged Out');
                        });
                        location.href = '/';
                    }
                });
            }
        }


        /***************************\
        browser closed log out
        \***************************/
        function BrowserLogOut() {
            var user_name = $('#hidden_username').val();
            if (user_name != null || user_name != undefined || user_name != '') {
                $.ajax({
                    url: `/Registration/RemoveSession?userName=${user_name}`,
                    contentType: 'application/json',
                    type: 'GET',
                    async: true,
                    success: function (data) {
                        location.href = '/';
                    }
                });
            }
        }
        var inFormOrLink;
        $('form').bind('submit', function () { inFormOrLink = true; });
        $('a').on('click', function () { inFormOrLink = true; });
        $('button').on('submit', function () { inFormOrLink = true; });
        $('a').on('click', function () { inFormOrLink = true; });

    </script>
</body>
</html>